body{
    background-image: url("../images/background.jpg");
    background-image:stretch;
    background-repeat:no-repeat;
    background-image: image(stretch);
    background-size:100%;

}



#game{
height: 400px;
 width: 350px;
 position:absolute;
 top:45%;
 left:40%;
 background-color:black; opacity: .8;
 
 padding: 20px 20px 20px 20px;
 border:solid 3px rgb(243, 23, 206);
 border-radius: 20%;
 overflow: auto;
 color:white;
text-shadow:3px 3px 3px rgb(241, 32, 224);
font-size: 150%;
text-align: center;
}

#you-lose{
    font-size:200px;
    color:red;
    text-align: center;
}

#you-win{
    font-size:200px;
    color:red;
    text-align:center;
    
}


